.loginWrap{
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
  border-radius: 10px;
  padding: 32px 64px 32px 24px;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to{
    opacity: 1;
    transform: initial;
  }
}

.loginForm{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.loginWrap h2 {
  text-transform: uppercase;
  align-self: center;
  color: var(--blue-4);
}


.link{
  font-size: 12px;
  margin-top: 16px;
  align-self: flex-end;
  text-decoration: underline;
}

.loginForm > div{
  margin-top: 16px;
  width: 350px;
}

.loginForm > div.buttonWrap{
  width: 240px;
  align-self: flex-end;
}

.error{
  color: var(--red);
  margin-top: 2px;
  font-size: 12px;
  align-self: left;
  text-align: left;
}