.loginWrap{
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
  border-radius: 10px;
  padding: 32px 64px 32px 52px;
  align-items: center;
  justify-content: flex-start;
}

.loginForm{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.inputGroup{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
}

.inputGroup input{
  margin-left: 8px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid var(--gray-4);
  height: 32px;
  padding: 0 8px;
}

.inputGroup label{
  letter-spacing: .8px;
}

button{
  width: 266px;
  align-self: flex-end ;
  height: 32px;
  background-color: var(--blue-5);
  border: none;
  border-radius: 8px;color: var(--bege-4);
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 16px;
  cursor: pointer;
}

button:hover{
  background-color: var(--blue-4);
}

button:active{
  background-color: var(--blue-3);
  transform: scale(.98);
}

.loginWrap h2 {
  text-transform: uppercase;
  color: var(--blue-4);
}

.link{
  font-size: 12px;
  margin-top: 16px;
  align-self: flex-end;
  text-decoration: underline;
}