.loginWrap{
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
  border-radius: 10px;
  padding: 32px 64px 32px 52px;
  align-items: center;
  justify-content: flex-start;
}

.loginForm{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.loginWrap h2 {
  text-transform: uppercase;
  color: var(--blue-4);
}


.link{
  font-size: 12px;
  margin-top: 16px;
  align-self: flex-end;
  text-decoration: underline;
}

.loginForm > div{
  margin-top: 16px;
  width: 350px;
}

.loginForm > div.buttonWrap{
  width: 295px;
  align-self: flex-end;
}