@import '../../Geral.module.css';

.headerWrap{
  background-color: var(--blue-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo{
  color: var(--amarelo);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.linksWrap{
  display: flex;
  align-items: center;
}



.loginControls{
  display: flex;
  margin-right: 24px;
  border-left: 2px solid rgba(65, 65, 65,.1);
}

.loginControls li{
  margin: 8px;
  color: var(--gray-2);
  display: flex;
  align-items: center;
  font-size: 12px;
}

.loginControls li:first-child{
  color: var(--amarelo);
  margin: 16px;
}

.userIcon{
  width: 15px;
  filter: invert(84%) sepia(95%) saturate(4402%) hue-rotate(333deg) brightness(85%) contrast(104%);
  margin-right: 8px;
}

.logoutIcon{
  width: 15px;
  filter: invert(98%) sepia(5%) saturate(1310%) hue-rotate(182deg) brightness(91%) contrast(89%);
  margin-right: 8px;
}

.logout{
  cursor: pointer;
}

.logout:hover{
  color: var(--amarelo)
}

.submenu{
  display: none;
}

a{
  color: var(--white)
}